/*
Program: Zuri I4G Internship Training
Exercise: FrontEnd Task 1
Intern Name: Solomon Ibeh;
Slack Username: Solomon-TM-Berlin;
Repo URL: 
*/
*{
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #800080, #ffa80500);
}
::selection{
  background: #ffa500;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #ffcccb;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper h2{
	margin: 0, auto;
  display: flex;
  width: 100%;
  text-decoration: underline;
  font-size: 35px;
  color: purple;
  font-weight: 600;
  text-align: center;
}
.wrapper h4{
  margin: 50px,auto, 0;
  height: 100%;
  width: 100%;
  color: purple;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  z-index: 0;
  border-radius: 5px;
}

.input-group{
	margin: 0;
	height: 100%;
	font-size: 17px;
	padding: 2px;
	z-index: 1;
	outline: none;
	line-height: 100%;
	border: 1px;
	border-radius: 3px;
	border-bottom-width: 2px;
}

i {
  position: relative;
  font-size: 16px;
}         

.icon{
  padding-right: 2px;
  word-spacing: 2px;
  border-spacing: 4px;
}
.input-box input[type="text"]{
	height: 100%;
	width: 100%;
	font-size: 16px;
}
.input-box input[type="email"] {
	height: 100%;
	width: 100%;
	font-size: 16px;
}
.input-box input[type="radio"] {
	height: 100%;
	width: 100%;
	font-size: 18px;
	padding-left: 0;
	padding-right: 2px;
}
.input-box input[type="tel"]{
	height: 100%;
	width: 100%;
	font-size: 16px;
}

span{
	height: 100%;
	width: 30%;
	font-size: 16px;
	padding-left: 0;
	padding-right: 2px;
}

select {
	height: 100%;
	width: 40%;
	position: relative;
	font-size: 16px;
	padding-left: 0;
	float: left: 
}
.input-box button[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  border: 1px solid purple;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: purple;
}
.input-box button[type="submit"]:hover {
	color: #80f80f;
	text-decoration: underline;
	border: 0;
}
